.sliderContainer {
    @apply h-8 pr-8 bg-focal-400 rounded-lg overflow-hidden;
}

.sliderRoot {
    @apply p-0 h-8 bg-transparent !important;
}

.sliderTrack {
    @apply bg-focal-700 h-8 !important;
}

.sliderRail {
    @apply hidden !important;
}

.table > thead > tr > th {
    @apply bg-focal-500 text-focal-50 text-left sticky top-0 z-10;
}

.table > tbody > tr > td {
    @apply py-2;
}

.table > tbody > tr:nth-child(odd) {
    @apply bg-focal-200;
}

.table > tbody > tr:nth-child(even) {
    @apply bg-focal-50;
}

.table :global(.Title) {
    width: calc(40% - 2rem);
}

.table :global(.Mix) {
    width: 10%;
}

.table :global(.Artist) {
    width: 25%;
}

.table :global(.bpm) {
    width: 10%;
}

.table :global(.tempo),
.table :global(.stops) {
    width: 7.5%;
}

.innerTable > tbody > tr:nth-child(odd) {
    @apply bg-focal-500;
}

.innerTable > tbody > tr:nth-child(even) {
    @apply bg-focal-400;
}
