.controlsContainer {
    display: grid;
    grid-template-columns: max-content max-content 1fr;
    grid-template-rows: max-content max-content;
    column-gap: 1rem;
}

.sliderRail, .sliderTrack {
    @apply bg-focal-700 !important;
}

.table th {
    @apply bg-focal-50 border-focal-500 text-left sticky top-0 z-10;
}

.table > tbody > tr:nth-child(odd) {
    @apply bg-focal-100;
}

.table > tbody > tr:nth-child(even) {
    @apply bg-focal-50;
}

.table :global(.expander) {
    @apply w-8 text-left;
}

.table :global(.Title) {
    width: calc(40% - 2rem);
}

.table :global(.Mix) {
    width: 10%;
}

.table :global(.Artist) {
    width: 25%;
}

.table :global(.bpm) {
    width: 10%;
}

.table :global(.tempo),
.table :global(.stops) {
    width: 7.5%;
}
