
.beginner {
    color: var(--color-beginner);
}

.basic {
    color: var(--color-basic);
}

.difficult {
    color: var(--color-difficult);
}

.expert {
    color: var(--color-expert);
}

.challenge {
    color: var(--color-challenge);
}
