
.beginner {
    color: var(--beginner-color);
}

.basic {
    color: var(--basic-color);
}

.difficult {
    color: var(--difficult-color);
}

.expert {
    color: var(--expert-color);
}

.challenge {
    color: var(--challenge-color);
}
