.beginner path {
    fill: pink;
}

.easy path, .basic path {
    fill: yellow;
}

.medium path, .another path, .trick path {
    fill: #FD009C;
}

.hard path, .maniac path {
    fill: #63FD00;
}

.challenge path {
    fill: purple;
}

.icon {
    width: 10px;
}

.icon path {
    fill: var(--color-focal);
}
