.beginner path {
    fill: var(--color-beginner);
}

.basic path {
    fill: var(--color-basic);
}

.difficult path {
    fill: var(--color-difficult);
}

.expert path {
    fill: var(--color-expert);
}

.challenge path {
    fill: var(--color-challenge);
}

.icon {
    width: 10px;
}

.icon path {
    fill: var(--color-focal);
}
