.beginner path {
    fill: #00B0C6;
}

.easy path, .basic path {
    fill: #D68B00;
}

.medium path, .another path, .trick path {
    fill: #CE1A87;
}

.hard path, .maniac path {
    fill: #6BDE13;
}

.challenge path, .smaniac path {
    fill: #7D72FE;
}

.icon {
    width: 10px;
}

.icon path {
    fill: var(--color-focal);
}
