.root {
    --left-right-h: var(--arrow-size);
    --down-h: calc(var(--arrow-size) * .6338283);
    --up-h: calc(var(--arrow-size) * 1.0640632);
    --bg-pos: bottom;
}

.repeatUp {
    width: 100%;
    height: calc(100% - var(--up-h));
    background-image: url(./upFreezeRepeatBody.svg);
    background-size: 100%;
    background-repeat: repeat-y;
    background-position: var(--bg-pos);
}

.tailUp {
    width: 100%;
    height: min(var(--up-h), 100%);
    background-image: url(./upFreezeTail.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: var(--bg-pos);
}

.repeatDown {
    width: 100%;
    height: calc(100% - var(--down-h));
    background-image: url(./downFreezeRepeatBody.svg);
    background-size: 100%;
    background-repeat: repeat-y;
    background-position: var(--bg-pos);
}

.tailDown {
    width: 100%;
    height: min(var(--down-h), 100%);
    background-image: url(./downFreezeTail.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: var(--bg-pos);
}

.repeatRight, .repeatLeft {
    width: 100%;
    height: calc(100% - var(--left-right-h));
    background-image: url(./rightFreezeRepeatBody.svg);
    background-size: 100%;
    background-repeat: repeat-y;
    background-position: var(--bg-pos);
}

.tailRight, .tailLeft{
    width: 100%;
    height: min(var(--left-right-h), 100%);
    background-image: url(./rightFreezeTail.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: var(--bg-pos);
}

.repeatLeft, .tailLeft {
    transform: scaleX(-1);
}

