.root {
    --down-h: calc(var(--arrow-size) * .6338283);
    --bg-pos: bottom;
}

.repeatDown {
    width: 100%;
    height: calc(100% - var(--down-h));
    background-image: url(./downFreezeRepeatBody.svg);
    background-size: 100%;
    background-repeat: repeat-y;
    background-position: var(--bg-pos);
}

.tailDown {
    width: 100%;
    height: min(var(--down-h), 100%);
    background-image: url(./downFreezeTail.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: var(--bg-pos);
}

.repeatRight {
    width: 100%;
    height: calc(100% - var(--arrow-size));
    background-image: url(./rightFreezeRepeatBody.svg);
    background-size: 100%;
    background-repeat: repeat-y;
    background-position: var(--bg-pos);
}

.tailRight {
    width: 100%;
    height: min(var(--arrow-size), 100%);
    background-image: url(./rightFreezeTail.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: var(--bg-pos);
}

.repeatLeft {
    transform: scaleX(-1);
    width: 100%;
    height: calc(100% - var(--arrow-size));
    background-image: url(./rightFreezeRepeatBody.svg);
    background-size: 100%;
    background-repeat: repeat-y;
    background-position: var(--bg-pos);
}

.tailLeft {
    transform: scaleX(-1);
    width: 100%;
    height: min(var(--arrow-size), 100%);
    background-image: url(./rightFreezeTail.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: var(--bg-pos);
}
