.repeatRight {
    width: 100%;
    height: calc(100% - var(--arrow-size));
    background-image: url(./rightFreezeRepeatBody.svg);
    background-size: 100%;
    background-position: left bottom;
    background-repeat: repeat-y;
}

.tailRight {
    width: 100%;
    height: min(var(--arrow-size), 100%);
    background-image: url(./rightFreezeTail.svg);
    background-size: 100%;
    background-position: left bottom;
    background-repeat: no-repeat;
}

.repeatLeft {
    transform: scaleX(-1);
    width: 100%;
    height: calc(100% - var(--arrow-size));
    background-image: url(./rightFreezeRepeatBody.svg);
    background-size: 100%;
    background-position: left bottom;
    background-repeat: repeat-y;
}

.tailLeft {
    transform: scaleX(-1);
    width: 100%;
    height: min(var(--arrow-size), 100%);
    background-image: url(./rightFreezeTail.svg);
    background-size: 100%;
    background-position: left bottom;
    background-repeat: no-repeat;
}
