.root {
    --bg-color: #34DD39;
    --buffer: calc(var(--arrow-size) / 2 - 1px);

    opacity: 0.5;
    width: 100%;
    height: 100%;
    background-image: url(./freezeBodyTail.svg), linear-gradient(to bottom, var(--bg-color) 0, var(--bg-color) calc(100% - var(--buffer)), transparent calc(100% - var(--buffer)));
    background-position: left bottom;
    background-size: 100%;
    background-repeat: no-repeat;
}