.container-single {
    width: calc(var(--arrow-size) * 4);
}

.container-double {
    width: calc(var(--arrow-size) * 8);
}

.doubleDivider {
    width: calc(var(--arrow-size) * 4);
    @apply border-r border-dashed border-blue-500 absolute top-0;
}

.bar:nth-child(odd) {
    @apply bg-indigo-50;
}

.bar:last-of-type {
    border-width: 0;
}

.headingSelfLink {
    @apply flex flex-col h-auto justify-center;
}

.headingSelfLink svg {
    @apply sm:invisible mt-1;
    font-size: 0.8em;
}

.bar:hover .headingSelfLink svg,
.headingSelfLink:hover svg {
    @apply sm:visible;
}


.bpmLabelText {
    font-size: 0.675rem;
}

.stopSign {
    @apply text-2xl -right-7;
}

@media print {
    .bpmLabelText {
        font-size: 0.45rem;
    }

    .stopSign {
        @apply text-lg -right-4;
    }
}