.container-single {
    --arrow-size: 25px;
    width: calc(var(--arrow-size) * 4);
}

.container-double {
    width: calc(var(--arrow-size) * 8);
}

.bar {
    height: var(--arrow-size);
}

.arrow {
    height: var(--arrow-size);
    @apply absolute bg-no-repeat w-full;
    mix-blend-mode: multiply;
    background-color: white;
    background-size: var(--arrow-size) var(--arrow-size), var(--arrow-size) var(--arrow-size);
}

.arrow::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    mix-blend-mode: color-dodge;
}

.S-L, .D-1-L {
    @apply bg-no-repeat;
    background-image: url(./leftArrow.png);
    background-position: 0 0;
}

.S-D, .D-1-D {
    @apply bg-no-repeat;
    background-image: url(./downArrow.png);
    background-position: var(--arrow-size) 0;
}

.S-U, .D-1-U {
    @apply bg-no-repeat;
    background-image: url(./upArrow.png);
    background-position: calc(var(--arrow-size) * 2) 0;
}

.S-R, .D-1-R {
    @apply bg-no-repeat;
    background-image: url(./rightArrow.png);
    background-position: calc(var(--arrow-size) * 3) 0;
}

.S-UD, .D-1-UD {
    background-image: url(./downArrow.png), url(./upArrow.png);
    background-position: var(--arrow-size) 0, calc(var(--arrow-size) * 2) 0;
}

.S-LR, .D-1-LR {
    background-image: url(./leftArrow.png), url(./rightArrow.png);
    background-position: 0 0, calc(var(--arrow-size) * 3) 0;
}

.S-UD, .D-1-UD {
    background-image: url(./downArrow.png), url(./upArrow.png);
    background-position: var(--arrow-size) 0, calc(var(--arrow-size) * 2) 0;
}

.S-LU, .D-1-LU {
    background-image: url(./leftArrow.png), url(./upArrow.png);
    background-position: 0 0, calc(var(--arrow-size) * 2) 0;
}

.S-LD, .D-1-LD {
    background-image: url(./leftArrow.png), url(./downArrow.png);
    background-position: 0 0, var(--arrow-size) 0;
}

.S-RU, .D-1-RU {
    background-image: url(./upArrow.png), url(./rightArrow.png);
    background-position: calc(var(--arrow-size) * 2) 0, calc(var(--arrow-size) * 3) 0;
}

.S-RD, .D-1-RD {
    background-image: url(./downArrow.png), url(./rightArrow.png);
    background-position: var(--arrow-size) 0, calc(var(--arrow-size) * 3) 0;
}

/* fully on pad 2 */

.D-2-L {
    background-image: url(./leftArrow.png);
    background-position: calc(var(--arrow-size) * 4) 0;
}

.D-2-D {
    background-image: url(./downArrow.png);
    background-position: calc(var(--arrow-size) * 5) 0;
}

.D-2-U {
    background-image: url(./upArrow.png);
    background-position: calc(var(--arrow-size) * 6) 0;
}

.D-2-R {
    background-image: url(./rightArrow.png);
    background-position: calc(var(--arrow-size) * 7) 0;
}

.D-2-UD {
    background-image: url(./downArrow.png), url(./upArrow.png);
    background-position: calc(var(--arrow-size) * 5) 0, calc(var(--arrow-size) * 6) 0;
}

.D-2-LR {
    background-image: url(./leftArrow.png), url(./rightArrow.png);
    background-position: calc(var(--arrow-size) * 4) 0, calc(var(--arrow-size) * 7) 0;
}

.D-2-UD {
    background-image: url(./downArrow.png), url(./upArrow.png);
    background-position: calc(var(--arrow-size) * 5) 0, calc(var(--arrow-size) * 6) 0;
}

.D-2-LU {
    background-image: url(./leftArrow.png), url(./upArrow.png);
    background-position: calc(var(--arrow-size) * 4) 0, calc(var(--arrow-size) * 6) 0;
}

.D-2-LD {
    background-image: url(./leftArrow.png), url(./downArrow.png);
    background-position: calc(var(--arrow-size) * 4) 0, calc(var(--arrow-size) * 5) 0;
}

.D-2-RU {
    background-image: url(./upArrow.png), url(./rightArrow.png);
    background-position: calc(var(--arrow-size) * 6) 0, calc(var(--arrow-size) * 7) 0;
}

.D-2-RD {
    background-image: url(./downArrow.png), url(./rightArrow.png);
    background-position: calc(var(--arrow-size) * 5) 0, calc(var(--arrow-size) * 7) 0;
}

/* bridge pad 1 and 2 */

.D-1-R-2-L {
    background-image: url(./rightArrow.png), url(./leftArrow.png);
    background-position: calc(var(--arrow-size) * 3) 0, calc(var(--arrow-size) * 4) 0;
}

.D-1-U-2-L {
    background-image: url(./upArrow.png), url(./leftArrow.png);
    background-position: calc(var(--arrow-size) * 2) 0, calc(var(--arrow-size) * 4) 0;
}

.D-1-D-2-L {
    background-image: url(./downArrow.png), url(./leftArrow.png);
    background-position: calc(var(--arrow-size) * 1) 0, calc(var(--arrow-size) * 4) 0;
}

.beat-4::after {
    background-color: rgba(255, 0, 0, 0.5);
}

.beat-8::after {
    background-color: rgba(255, 255, 0, 0.5);
}

.beat-16::after {
    background-color: rgba(0, 255, 0, 0.5);
}
