.aboveStepChart {
    z-index: 999999;
}


.stepchartSections {
    @apply flex flex-col;
}

.stepchartSectionGroup {
    --arrow-size: 40px;
    @apply grid place-items-center;
}

@media print {
    .rootPrint {
        @apply w-full h-full m-0 p-0 !important;
        background: none !important;
    }

    .rootPrint header, .rootPrint footer {
        @apply hidden;
    }

    .rootPrint main {
        max-width: initial !important;
        max-height: initial !important;
    }

    .hideForPrint {
        @apply hidden;
    }

    .stepchartSectionGroup {
        --arrow-size: 20px;
        @apply flex flex-row items-start justify-center space-x-8 p-4 mt-16;
        page-break-after: always;
    }
}
