.container-single {
    --arrow-size: 25px;
    width: calc(var(--arrow-size) * 4);
}

.container-double {
    width: calc(var(--arrow-size) * 8);
}

.doubleDivider {
    width: calc(var(--arrow-size) * 4);
    @apply border-r border-dashed border-blue-500 absolute;
}

.bar {
    height: var(--arrow-size);
}

.arrow {
    height: var(--arrow-size);
}

