.root {
    width: 100%;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--entry-width), 1fr));
    @apply rounded-lg overflow-hidden bg-focal-200 border border-focal-500;

}

.root input[type="radio"] {
    width: 0;
    display: none;
}

.root label {
    @apply text-center;
}

.root input[type="radio"] + label {
    @apply py-1 px-2 bg-focal text-heading cursor-pointer;
}

.root input[type="radio"] + label:hover {
    @apply bg-focal-300 text-focal-700;
}

.root input[type="radio"]:checked + label {
    @apply bg-heading text-focal cursor-default;
}