@import './theme';

@tailwind base;

/* Start purging... */
@tailwind components;
/* Stop purging. */

html,
body {
  @apply bg-bg text-fg;
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

:root {
  @include theme;

  --banner-width: 256px;
  --banner-height: 80px;

  --beginner-color: #00B0C6;
  --easy-color: #D68B00;
  --medium-color: #CE1A87;
  --hard-color: #68DE13;
  --challenge-color: #7D72FE;
}

