@import './theme';

@tailwind base;

/* Start purging... */
@tailwind components;
/* Stop purging. */


/* Start purging... */
@tailwind utilities;
/* Stop purging. */

:root {
  @include common-theme;
  @include light-theme;

  --banner-width: 256px;
  --banner-height: 80px;
}

@media (prefers-reduced-motion) {
  * {
    transition-duration: 0s !important;
  }
}

body {
  @apply text-black bg-gradient-to-r from-white to-gray-100;
}


@media (prefers-color-scheme: light) {
  body {
    @apply text-black bg-gradient-to-r from-white to-gray-100;
  }

  :root {
    @include light-theme;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    @apply text-white bg-gradient-to-r from-gray-800 to-gray-700;
  }

  :root {
    @include dark-theme;
  }
}

@media print {
  body {
    @apply bg-gradient-to-r from-transparent to-transparent;
  }
}
